@import '~@hashicorp/mktg-global-styles/style.css';
@import '~@hashicorp/platform-code-highlighting/style.css';

@import '~@hashicorp/react-nav/dist/style.css';
@import '~@hashicorp/react-footer/dist/style.css';
@import '~@hashicorp/react-newsletter-signup-form/dist/style.css';
@import '~@hashicorp/react-text-input/dist/style.css';
@import '~@hashicorp/react-checkbox-input/style.css';

/* Vendor */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* Global styles here */
body {
    font-size:62.5%; /* Set base size */
    font-size: 1rem;
    font-family: Open Sans, sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 3.5rem;
}

p {
    font-size: 1rem;
    font-weight: 400;
}
